.d-brand-small{
  font-size:12px;
}
.d-brand-middle{
  font-size:14px;
}
.d-brand-big{
  font-size:16px;
}

.d-brand-black{
  color:#333;
}
.d-brand-white{
  color:#fff;
}
.d-brand-grey{
  color:#ccc;
}


