/*font size*/
$font-size-base:14px !default;


/*layout*/
$fixed-width-base:200px !default;
$fixed-width-big:250px !default;
$fixed-width-large:300px !default;

/*media query breakpoints*/
$screen-x:480px !default;
$screen-sm:768px !default;
$screen-md:992px !default;
$screen-lg:1200px !default;

$grid-columns:12 !default;
$grid-gutter-width:30px !default;

//屏幕宽度
$screen-xs:480px !default;
$screen-xs-min:$screen-xs !default;
$screen-phone:$screen-xs-min !default;

$screen-sm:768px !default;
$screen-sm-min:$screen-sm !default;
$screen-tablet:$screen-sm-min !default;

$screen-md:992px !default;
$screen-md-min:$screen-md !default;
$screen-desktop:$screen-md-min !default;

$screen-lg:1200px !default;
$screen-lg-min:$screen-lg !default;
$screen-lg-desktop:$screen-lg-min !default;
//container宽度
$container-tablet:(720px + $grid-gutter-width) !default;
$container-sm:$container-tablet !default;

$container-desktop:(940px + $grid-gutter-width) !default;
$container-md:$container-desktop !default;

$container-large-desktop:(1140px + $grid-gutter-width) !default;
$container-lg:$container-large-desktop !default;




